:root{
    --logo-color: rgb(149, 225, 211);
    --deco-color: rgb(243, 129, 129);
    --text-color: rgb(182, 182, 182);
    --title-color: rgb(51, 51, 51);
    
}
*{
    list-style: none;   
    text-decoration: none;
}



.logo{
    color: var(--logo-color);
}
.container{
    width: 1200px;
    margin: 0px auto;
        outline: 1px solid blue;
}
.texet{
    text-decoration: none;
    color: var(--deco-color);
}
.email{
    width: 230px;
    height: 39px;
}
.sub{
    width: 150px;
    height: 45px;
    margin-left: -5px;
    color: white;
    text-transform: uppercase 14px auto;
    background-color: var(--logo-color);
}
.hr{
    width: 1200px;
}
.montserat{
    font-family: "Montserrat";
}
.kscript{
    font-family: "Kaushan Script";
}
.hr1{
    width: 60px;
    height: 4px;
    background-color: var(--deco-color);
}
.lorem{
    color: var(--text-color);
}
.roboto{
    font-family: "Roboto";
    color: var(--text-color);
}